<template>
  <div class="container">
    <h1 class="title">About</h1>
    This ia a progressive web app for comparing two docx documents. <br />

    <ol>
      <li>Google Cloud Platform: static site hosting &amp; serverless backend hosting</li>
      <li>Vue.js: JavaScript framework</li>
      <li>D3.js: word cloud visualization</li>
      <li>Crow: web backend framework for C++</li>
      <li>mkseg (MonKey's Segmenter): chinese segmentation</li>
    </ol>
  </div>
</template>
