<template>
  <div>
    <Navbar></Navbar>
    <br />
    <div class="container">
      <router-view></router-view>
    </div>
    <div class="container">
      <div class="has-text-centered">
        Made by <a href="https://mky.moe/" target="_blank">mky.moe</a><br />
        Powered by Vue.js &amp; Crow Web Framework &amp; Google Cloud Platform.
      </div>
    </div>
  </div>
</template>

<script>
import VueRouter from "vue-router"
import Navbar from "./Navbar.vue"
import About from "./About.vue"
import Compare from "./Compare.vue"

const routes = [
  { path: '/', component: Compare },
  { path: '/about', component: About }
]

const router = new VueRouter({
  routes
})

export default {
  data () {
    return {}
  },
  components: {
    Navbar
  },
  router
}
</script>
