<template>
  <section>
    <section>
      <b-field class="is-grouped">
        <b-field class="file is-expand is-primary">
          <b-upload v-model="file1" class="file-label" accept=".docx,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document">
          <span class="file-cta">
            <b-icon icon="upload"></b-icon>
            <span class="file-label">{{ file1.name || "Click to upload file 1" }}</span>
          </span>
          </b-upload>
        </b-field>

        <b-field class="file is-expand is-primary">
          <b-upload v-model="file2" class="file-label" accept=".docx,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document">
          <span class="file-cta">
            <b-icon icon="upload"></b-icon>
            <span class="file-label">{{ file2.name || "Click to upload file 2" }}</span>
          </span>
          </b-upload>
        </b-field>

        <b-button @click="read">
          <b-icon icon="refresh"></b-icon>
          <span>Read File</span>
        </b-button>

        <b-button @click="analyze">
          <b-icon icon="feature-search-outline"></b-icon>
          <span>Analyze</span>
        </b-button>
      </b-field>
    </section>

    <div v-if="count">
      <h1 class="title">Similarity</h1>
      <section>
        Total words of Doc #1 (w/o stop-words): {{ count.count1 }} <br />
        Total words of Doc #2 (w/o stop-words): {{ count.count2 }} <br />
        Words intersection: {{ count.same_count }} <br />
        JS Divergence of two words distribution: {{ count.js }}
      </section>
    </div>

    <div v-if="freq1 && freq2">
      <h1 class="title">Hot words</h1>
      <div class="columns is-vcentered">
        <div class="column">
          <WordCloud :frequency="freq1"></WordCloud>
        </div>
        <div class="column">
          <WordCloud :frequency="freq2"></WordCloud>
        </div>
      </div>
    </div>

    <div v-if="seg1.length && seg2.length">
      <h1 class="title">Chinese Segmentation Results</h1>
      <div class="columns">
        <div class="column tags">
          <span class="tag" v-for="item in seg1" v-if="/\S/.test(item)">{{item}}</span>
        </div>
        <div class="column tags">
          <span class="tag" v-for="item in seg2" v-if="/\S/.test(item)">{{item}}</span>
        </div>
      </div>
    </div>

    <div>
      <h1 class="title">Document Contents</h1>
      <div class="columns">
        <div class="column">
          <textarea class="textarea is-expand" rows="20">{{ content1 }}</textarea>
        </div>
        <div class="column">
          <textarea class="textarea is-expand" rows="20">{{ content2 }}</textarea>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import mammoth from 'mammoth'
import axios from 'axios'
import WordCloud from "./WordCloud";

export default {
  data() {
    return {
      file1: {},
      file2: {},
      content1: null,
      content2: null,
      seg1: [],
      seg2: [],
      freq1: null,
      freq2: null,
      count: null
    }
  },
  methods: {
    read() {
      let that = this;
      if (this.file1 instanceof File) {
        let reader1 = new FileReader();
        reader1.onload = (evt) => {
          mammoth.extractRawText({arrayBuffer: evt.target.result})
              .then((result) => {
                that.content1 = result.value;
              }).done();
        }
        reader1.readAsArrayBuffer(this.file1);
      }

      if (this.file2 instanceof File) {
        let reader2 = new FileReader();
        reader2.onload = (evt) => {
          mammoth.extractRawText({arrayBuffer: evt.target.result})
              .then((result) => {
                that.content2 = result.value;
              }).done();
        }
        reader2.readAsArrayBuffer(this.file2);
      }
    },
    analyze() {
      axios.post(process.env['BACKEND_ENDPOINT'], {doc1: this.content1, doc2: this.content2})
        .then((resp) => {
          this.seg1 = resp.data.seg1;
          this.seg2 = resp.data.seg2;
          this.freq1 = resp.data.freq1;
          this.freq2 = resp.data.freq2;
          this.count = {
            count1: resp.data.count1,
            count2: resp.data.count2,
            same_count: resp.data.same_count,
            js: resp.data.js
          };
        })
        .catch((error) => {
          console.log(error);
        });
    }
  },
  components: {
    WordCloud
  }
}
</script>
