<template>
  <b-navbar class="is-dark">
    <template #brand>
      <b-navbar-item tag="router-link" :to="{ path: '/' }">
<!--        <img-->
<!--            src="https://raw.githubusercontent.com/buefy/buefy/dev/static/img/buefy-logo.png"-->
<!--            alt="Lightweight UI components for Vue.js based on Bulma"-->
<!--        >-->
        XJTU CS101 File Comparator
      </b-navbar-item>
    </template>
    <template #start>
      <b-navbar-item tag="router-link" :to="{ path: '/' }">Home</b-navbar-item>
    </template>

    <template #end>
      <b-navbar-item tag="router-link" :to="{ path: '/about' }">About</b-navbar-item>
    </template>
  </b-navbar>
</template>
