<template>
  <div></div>
</template>

<script>
import * as d3 from 'd3';
import d3_wordcloud from 'd3-cloud';

export default {
  data() {
    return {
      freq: {}
    }
  },
  props: {
    frequency: { required: true }
  },
  mounted() {
    const width = 400, height = 300;

    const svg = d3.select(this.$el)
      .append('svg')
      .attr('width', width)
      .attr('height', height);

    this.freq = this.frequency;
    this.init();
  },
  methods: {
    init() {
      const width = 400, height = 300;
      const svg = d3.select(this.$el).select('svg');

      const fill = d3.scaleOrdinal(d3.schemeCategory10);
      const freq = Object.entries(this.freq)
          .sort((a, b) => b[1] - a[1])
          .slice(0, 10);

      const xScale = d3.scaleLinear()
          .domain([0, d3.max(freq, (d) => { return d[1]; }) ])
          .range([10, 100]);

      d3_wordcloud().size([width, height])
          .timeInterval(20)
          .words(freq)
          .fontSize(function(d) {
            return xScale(d[1]);
          })
          .text(function(d) { return d[0]; })
          .rotate(function() { return ~~(Math.random() * 2) * 90; })
          .on("end", draw)
          .start();

      function draw() {
        svg.select("g").remove();

        svg.append("g")
            .attr("transform", "translate(" + [width >> 1, height >> 1] + ")")
            .selectAll("text")
            .data(freq)
            .enter().append("text")
            .style("font-size", function (d) {
              console.log(d);
              return xScale(d[1]) + "px";
            })
            .style("fill", function (d, i) {
              return fill(i);
            })
            .attr("text-anchor", "middle")
            .attr("transform", function (d) {
              return "translate(" + [d.x, d.y] + ")rotate(" + d.rotate + ")";
            })
            .text(function (d) {
              return d.text;
            });
      }
    }
  },
  watch: {
    frequency() {
      this.freq = this.frequency;
      this.init();
    }
  }
}
</script>
